/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/english_bot.iml
/.idea/.gitignore
/test.py
*.xlsx
/users_progress.json
/github_link.txt
