aiofiles==23.2.1
aiogram==3.4.1
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
certifi==2024.2.2
dnspython==2.6.1
et-xmlfile==1.1.0
frozenlist==1.4.1
fuzzywuzzy==0.18.0
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
install==1.3.5
isort==5.13.2
jellyfish==1.0.3
Levenshtein==0.25.0
magic-filter==1.0.12
Mako==1.3.2
MarkupSafe==2.1.5
motor==3.4.0
multidict==6.0.5
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
pluggy==1.4.0
pydantic==2.5.3
pydantic-settings==2.2.1
pydantic_core==2.14.6
pymongo==4.6.2
pytest==8.1.1
pytest-aiohttp==1.0.5
pytest-asyncio==0.23.6
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.25.0
pytz==2024.1
rapidfuzz==3.7.0
redis==5.0.3
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.10.0
tzdata==2024.1
yarl==1.9.4
